@page "/languages"
@using Autodiffusion.Services;
@using AutoDiffusion.Models
@inject LanguageService LanguageService

<h1 class="text-white">Languages</h1>

<h5 class="text-white">Add New Language</h5>
<form @onsubmit="AddLanguage">
    <input @bind="newLanguage" placeholder="New Language Name" />
    <button type="submit">Add</button>
</form>

<h5 class="text-white">Existing Languages</h5>
<ul>
    @foreach (LanguageModel lang in languages)
    {
        <li class="text-white">@lang.Language</li>
    }
</ul>

@code {
    private List<LanguageModel> languages = new();
    private string newLanguage = string.Empty;

    protected override async Task<Task> OnInitializedAsync()
    {
        languages = await LanguageService.GetLanguagesAsync();
        return base.OnInitializedAsync();
    }

    private async Task AddLanguage()
    {
        if (!string.IsNullOrWhiteSpace(newLanguage))
        {
            await LanguageService.AddLanguageWithConfigAsync(new LanguageModel { Language = newLanguage });
            newLanguage = string.Empty;
            languages = await LanguageService.GetLanguagesAsync();
        }
    }
}