@page "/FullNames"
@using AutoDiffusion.Services
@using AutoDiffusion.Models
@using Autodiffusion.Services
@inject ConfigService ConfigService
@inject FullNameService FullNameService
@inject LanguageService LanguageService

<h1 class="text-white" style="margin-bottom: 20px;">Noms complets</h1>
<div class="d-flex">
    <div style="flex: 4; margin-right: 10px;">
        <form>
            <div class="form-group row">
                <label for="languageSelect" class="col-form-label col-sm-1 text-light">Langue:</label>
                <div class="col-sm-4">
                    <select id="languageSelect" @bind="_selectedLanguage" @oninput="OnLanguageSelection" class="form-control">
                        @foreach (var lang in _languages)
                        {
                            <option value="@lang.Language">@lang.Language</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="genderSelect" class="col-form-label col-sm-1 text-light">Genre:</label>
                <div class="col-sm-4">
                    <select id="genderSelect" @oninput="OnGenderSelection" class="form-control">
                        <option value="Male">Homme</option>
                        <option value="Female">Femme</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="secondChance" class="col-sm-3 col-form-label text-light">Chance de second prénom:</label>
                <div class="col-sm-6">
                    <input type="range" id="secondChance" min="0" max="100" step="10" @bind="_chanceForSecondFirstName" class="form-control-range" />
                    <span class="text-light">@_chanceForSecondFirstName %</span>
                </div>
            </div>
        </form>

        <button @onclick="GenerateRandomNames" class="btn btn-light btn-rounded btn-lg fs-5">Génération aléatoire</button>

        @if (_errorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @_errorMessage
            </div>
        }

        <div style="max-width: 90%;">
            <div class="d-flex flex-wrap mt-3">
                @foreach (FullNameModel fullName in _generatedFullNames)
                {
                    <div class="card mr-3 mb-3" style="width: 20rem; height: 3.6rem;">
                        <div class="card-body d-flex" style="align-items: baseline; padding-top: 0.8rem;">
                            <h5 class="card-title mb-0 flex-grow-1">@fullName.FullName</h5>
                            <button @onclick="(() => SaveName(fullName))" type="button" class="btn btn-danger btn-floating" data-mdb-ripple-color="dark"><i class="fas fa-heart"></i></button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div style="flex: 1;">
        <h3 class="text-white">Saved Names</h3>
        <ul class="list-group list-group-light">
            @if(_savedFullNames != null)
            {
                @foreach (var name in _savedFullNames)
                {
                    <li class="list-group-item fs-4 d-flex justify-content-between align-items-center">
                        <div>@name?.FullName</div>
                        <button @onclick="() => DeleteName(name.Id)" type="button" class="btn btn-dark btn-floating" data-mdb-ripple-color="dark"><i class="fas fa-trash"></i></button>
                    </li>
                }
            }
        </ul>
    </div>
</div>

@code {
    private List<FullNameModel>? _savedFullNames = new();
    private List<FullNameModel>? _generatedFullNames = new();
    private List<LanguageModel> _languages = new List<LanguageModel>();
    private string _selectedGender = "Male";
    private string _selectedLanguage = "English";
    private int _chanceForSecondFirstName = 0;
    private string? _errorMessage;

    protected override async Task OnInitializedAsync()
    {
        _languages = await LanguageService.GetLanguagesWithGeneratedWordsAsync();
        if (_languages.Any())
        {
            _selectedLanguage = _languages[0].Language;
        }
        await ConfigService.LoadConfiguration();
        await UpdateSavedFullNames();
    }

    private async void GenerateRandomNames()
    {
        var (fullNames, errorMessage) = await FullNameService.GenerateFullNameAsync(_selectedLanguage, _selectedGender, _chanceForSecondFirstName, 18);
        if (errorMessage != null)
        {
            _errorMessage = errorMessage;
            _generatedFullNames.Clear();
        }
        else
        {
            _errorMessage = null;
            _generatedFullNames.Clear();
            foreach (var name in fullNames)
            {
                _generatedFullNames.Add(new FullNameModel { FullName = name, Gender = _selectedGender, Language = _selectedLanguage });
            }
        }
        StateHasChanged();
    }

    private async Task SaveName(FullNameModel name)
    {
        await FullNameService.SaveGeneratedFullNameAsync(name);
        await UpdateSavedFullNames();
    }

    private async Task UpdateSavedFullNames()
    {
        try
        {
            _savedFullNames = await FullNameService.GetAsync(_selectedGender, _selectedLanguage);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            _savedFullNames = new List<FullNameModel>();
        }
    }

    private async Task DeleteName(int id)
    {
        await FullNameService.DeleteAsync(id);
        await UpdateSavedFullNames();
    }

    private async void OnGenderSelection(ChangeEventArgs e)
    {
        _selectedGender = e.Value.ToString();
        _generatedFullNames.Clear();
        await UpdateSavedFullNames();
    }

    private async void OnLanguageSelection(ChangeEventArgs e)
    {
        _selectedLanguage = e.Value.ToString();
        _generatedFullNames.Clear();
        await UpdateSavedFullNames(); 
    }
}


